<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-4xl text-white mb-8">Welcome to the Retail Store Database</h1>
        <h5 class="text-white mb-4">By Ch vinay - 2100032064</h5>
        <h5 class="text-white mb-4">Click on the links below to view the data</h5>
        <hr>
        <div class="space-y-4 grid">
            <a href="/list_customers" class="text-white hover:text-purple-600">List all customers</a>
            <a href="/orders_january_2023" class="text-white hover:text-purple-600">Find all orders placed in January 2023</a>
            <a href="/order_details/1" class="text-white hover:text-purple-600">Get the details of each order</a>
            <a href="/products_in_order/1" class="text-white hover:text-purple-600">List the products purchased in a specific order</a>
            <a href="/customer_spending" class="text-white hover:text-purple-600">Calculate the total amount spent by each customer</a>
            <a href="/popular_product" class="text-white hover:text-purple-600">Find the most popular product</a>
            <a href="/monthly_sales" class="text-white hover:text-purple-600">Get the total number of orders and the total sales amount for each month in 2023</a>
            <a href="/big_spenders" class="text-white hover:text-purple-600">Find customers who have spent more than $1000</a>
        </div>
        <hr>
    </div>
</body>
</html>